:root{
    --primary-color: #ED4231 ;
    --secondary-color: #FFF2E7;
    scroll-behavior: smooth;
}
.text-xl{
 font-size: 1.125rem;
 line-height: 1.5rem;
}
.text-2xl{
    font-size: 1.5rem;
    line-height: calc(2 /1.5);
}
.text-9xl{
    font-size: 8rem;
    line-height: 8rem;
}
.text-8xl{
    font-size: 6rem;
    line-height: 6rem;
}
.box{
    width: 50vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1);
}

.hero{
    height: 100vh;
}

.section-2{
    height: 100vh;
}
.card{
    background-color: var(--secondary-color);
    width: 25vw;
    height: 75vh;
    border-radius: 15px;
    position: relative;
}

.card-img img{
    position: absolute;
    top:30%;
}

.section-4{
    background-image: url(./src/rowan-freeman-clYlmCaQbzY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    backdrop-filter:blur(50) ;
}